body.index {
    background-image: url(pics/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
body.other{
    background-image: url(pics/bgi.jpg);
    background-attachment: fixed;
    background-size: cover;
}
body.game{
    background-image: url(pics/bgi3.jpg);
    background-attachment: fixed;
    background-size: cover;

}

h1{
    font-size: 75px;
    color: #DC143C;
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
    background-color: rgba(7, 7, 7, 0);
}
h2{
    font-size: 20px;
    color: #DC143C;
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
    background-color: rgba(7, 7, 7, 1);
}
h3{
	font-size: 60px;
    color: #DC143C;
    font-family: Georgia;
    font-weight: bold;
    text-align: center;
    background-color: rgba(7, 7, 7, 0);
}
.sections{
    font-size: 40px;
    color: #f3115d;
    font-family: Georgia;
    font-weight: bold;
    letter-spacing: 10px;
    background-color: rgba(7, 7, 7, 0.62);
}
.names{
    font-size: 20px;
    color: #F0E68C;
    font-family: Georgia;
    font-weight: bold;
    background-color: rgba(7,7,7, 0.62);
}
.pics{
    margin-top: 10px;
}
.text{
    font-size: 20px;
    color: #F0E68C;
    font-family: Georgia;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: rgba(7,7,7, 0.62);
}
table{
    width: 100%;
    table-layout: fixed;
}
tr{
    text-align:center;
}
p{
    font-size: 20px;
    color:  #FFFF00;
    font-family: Georgia;
}
button {
    display: block;
    font-family: Georgia;
    font-weight: bold;
    background-color: #F0E68C;
    border-width:medium;
    border-color: black;
    padding: 5px 10px;
}
*{
    padding: 0;
    margin: 0;
}
#game{
    height: 300px;
    position:relative;
    justify-content: start;
    align-items: center;
	border-width:medium;
	border-color:black;
}
#puck{
    width: 50px;
    height: 30px;
    position: relative;
    top: 230px;
}
:root {
    --start-width: 680px;
    --end-width:-20px;
    --hook-pos: 340px;
    --shir: 340px;
}

.animate{
    animation: jump 800ms;
}
@keyframes jump {
    0%{top: 240px;}
    50%{top: 80px;}
    70%{top: 80px;}
    100%{top: 240px;}
}
@keyframes mhook {
    0%{left: var(--start-width);}
    100%{left: var(--end-width);}
}
@keyframes mpudge {
    0%{left: var(--start-width);}
    100%{left: var(--start-width);}
}
#line{
    height: 30px;
    position:relative;
    top: 280px;
    transform-origin:right;
    animation: dline 1000ms linear alternate infinite;
    display: flex;
}
@keyframes dline {
    0%{left:var(--hook-pos);width: var(--shir);transform: scaleX(0)}
    100%{left:var(--hook-pos);width: var(--shir);transform: scaleX(1) }
}
#pudge{
    width: 100px;
    height: 50px;
    position:relative;
    top: 160px;
    left: 680px;
    animation: mpudge 1000ms linear alternate infinite;
}
#hook {
    width: 70px;
    height: 30px;
    position: relative;
    top: 235px;
    left: 680px;
    animation: mhook 1000ms linear alternate infinite;
}
